/* Basic styles for layout */
     
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b5b5b8;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 100px,
        #25283b22 100px 101px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 100px,
        #25283b22 100px 101px
    );
}
  
  header {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191d19;
    color: white;
    padding: 24px 40px;
    text-align: center;
  }
  header h1
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  color: #fbf8f8;
  border-radius: 50%;
  transition: color 0.5s ease-in-out;
}
header h1::after
{
  position: absolute;
  z-index: -1;
  content: '';
  inset: -3px;
  border-radius: inherit;
  background: conic-gradient
  (silver var(--fill),transparent var(--fill));
}
@property --fill
{
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;

}
header h1:hover
{
  color: silver;
  --fill:100%;
}
  
  nav ul {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a{
    color: white;
    text-decoration: none;
    border-radius: 24px;
    transition: color 0.5s ease-in-out;
  }
  nav ul li a::after
  {
    position: absolute;
  z-index: -1;
  content: '';
  inset: -3px;
  border-radius: inherit;
  background: conic-gradient
  (black var(--fill),transparent var(--fill));
  }
  nav ul li a:hover
  {
    background-color:black;
    --fill:100%;

  }
  
  main {
    color: white;
    text-decoration: indigo;
    padding: 20px;
  }
  input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  .result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .range {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  footer p a{
    color: white;
    text-decoration: none;
    border-radius: 24px;
    transition: color 0.5s ease-in-out;
  }
  footer p a:hover
  {
    background-color:black;
  }
  
  /* Calculator */
  #calculator {
   /* border: 3px solid rgb(55, 52, 52); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    */
    color: ghostwhite;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #display {
    border: 3px solid rgb(55, 52, 52); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    border-radius: 4px;
    font-size: 2rem;
    text-align: left;
  }
  
  #buttons button {
    color: rgb(51, 48, 48);
    text-decoration: indigo;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 20%;
    margin: 5px;
    cursor: pointer;
    color: white;
    background: transparent;
  }
  #buttons button.res {
    color: rgb(51, 48, 48);
    text-decoration: indigo;
    padding: 8px 180px;
    font-size: 1.5rem;
    max-width: 400px;
    margin: 5px;
    cursor: pointer;
    color: white;
    background: transparent;
  }
  
  #buttons button:hover {
    background-color:silver;
  }
  
  /* Unit Converter */
  #converter
  {
    padding:0 5px;
  }
  #converter input {
    color: rgb(32, 31, 31);
    text-decoration: indigo;
    padding: 1px;
    font-size: 1.2rem;
    width: 50%;
    margin-right: 10px;
    color: white;
    background: transparent;
  }
  
  #converter button {
    color: rgb(42, 40, 40);
    text-decoration: indigo;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    background: transparent;
  }
  #converter button:hover
  {
    background-color: silver;
  }
  
  #contact-form input{
    width: 100%;
    border-radius: 4px;
    margin: 10px 0;
    color: white;
    background: transparent; 
  }
  #contact-form textarea 
  {
    width: 100%; 
    max-width: 600px; 
    height: 200px;
    padding: 10px; 
    font-size: 16px; 
    color: white;
    background: transparent; 
  }
  #contact-form input:focus,#contact-form textarea:focus
  {
    border-color: lightslategray;
  }
  
  #contact-form button {
    color: rgb(41, 39, 39);
    text-decoration: indigo;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  #contact-form button:hover
  {
    background-color:silver;
  }
  